@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

.gameFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

.gameForm {
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #66347F, #37306B);
}

.gameForm:hover {
    border: 2px solid #7f5395;
}

.gameForm h1 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.gameInput {
    width: 300px;
    height: 40px;
    margin: 20px 0;
    border-bottom: 2px solid #7f5395;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    position: relative;
    font-size: 1rem;
    color: whitesmoke;
    outline: none;
}

.gameInput:focus {
    border-color: transparent;
}

.gameTextarea {
    width: 300px;
    height: 120px;
    margin: 20px 0;
    border-bottom: 2px solid #7f5395;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    position: relative;
    font-size: 1rem;
    color: whitesmoke;
    outline: none;
}

.gameTextarea:focus {
    border-color: transparent;
}

.gameButton {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: #66347F;
    outline: none;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.gameButton:hover {
    background-color: #7f5395;
}